#filter {
	width: 200px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 20px;
	margin-top: 50px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.123);
	border-radius: 5px;
	border: none;
	background-color: var(--input);
	color: var(--text);
}

#filter::after {
	display: none;
}

option {
	border-radius: 5px;
	margin: 10px;
}

#filter:focus {
	outline: none;
}
